{% extends "base.html" %}

{% block content %} 
<title>Профіль користувача {{ user.username }}</title>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-12 col-sm-12 col-md-12 mt-3 border">
            {% if user.is_superuser %}   
            <a href="{% url 'admintools:admintools' %}">
                На сторінку адміністратора
            </a>
            {% endif %}
            
            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-lg btn-outline-secondary mt-2">Корзина:{{ items_in_cart }}</a>
                
            <h3>
                Мої замовлення
            </h3>
            {% for order in my_orders %}
            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead>
                        Замовлення № {{order.ref_code}}  - {{order.order_status}}
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Виробник</th>
                            <th scope="col">index</th>
                            <th scope="col">Опис</th>
                            <th scope="col">Оригінал</th>
                            <th scope="col">Ціна</th>
                            <th scope="col">Кількість</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for part in order.items.all%}
                        <tr>
                            <th scope="row">{{ forloop.counter}}</th>
                            <td scope="row">{{ part.part.producer }}</td>
                            <td><a href="{{ part.id }}">{{ part.part.index }}</a></td>
                            <td>{{ part.part.description }}</td>
                            <td>{{ part.part.original }}</td>
                            <td>{{ part.part.price }}</td>
                            <td scope="row">{{ part.quantity }}</td>
                        </tr>
                    {% endfor %}  
                    <tr>
                        <th colspan="5" >
                            Загально
                        </th>
                        <th>
                            {{order.get_cart_items_total}}
                        </th>
                        <th>
                            {{order.get_cart_items}}
                        </th>
                    </tr> 
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}