{% extends "base.html" %}

{% block content %}
<title>ZP4 - корзина</title>
 <div class='container'>
   <h1>
     Корзина
   </h1>
   <div class="row">
    <table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>№</th>
        <th>#</th>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вилучити</th>
      </tr>
      {% for item in order.items.all %}
        <tr>
          <td>
            {{ forloop.counter }}
          </td>
          <td>
            {{ item.part.original }}
          </td>
          <td>
            {{ item.part.description }}
          </td>
          <td>
            {{ item.quantity }}
          </td>
          <td>
            {{ item.part.price }}
          </td>
          <td>
            <span class="pull-right">
              <a href="{% url 'shopping_cart:delete_from_cart' item.id %}" data-balloon="remove this item from cart" class="text-danger" onclick="return confirm_delete();">
                <i class="fas fa-trash"> Вилучити</i>
              </a>
            </span>
          </td>
          
        </tr>
      {% empty %}
        <tr>
          <td colspan= 3> You have not added any items yet.</td>
        </tr>
      {% endfor %}
      <tr>
        {% if order.get_cart_items_total != None %}
        <td colspan=3>
          <strong class="pull-right">Order Total:</strong>
        </td>
        
        <td colspan=3>
          $<strong>{{ order.get_cart_items_total }}</strong>
        </td>
        {% endif %}
      </tr>
      <tr>
        <td colspan=3 >
          <a href="{% url 'parts:partslist' %}" class="btn btn-warning pull-left">
            {% if order %}Продовжити покупки{% else %}Додати в корзину {% endif %}
          </a> 
        </td>
        <td colspan=3>
          {% if order.get_cart_items %}
            <a href="{% url 'shopping_cart:shipping-info' %}" class="pull-right btn btn-primary">Перейти до оформлення</a>
          {% endif %}
        </td>
      </tr>
    </table>
     
   </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock scripts %}