{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>ZP4 - admin's</title>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-3 border">
            {% for ord in orders_shipping_data %}
            {% endfor %}
            {% for order in orders %}
            <div class="table-responsive">
                <table class="table table-secondary  table-hover table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">REf: {{ order.ref_code }}</th>
                            <th scope="col" colspan="2">Дата замовлення: {{ order.date_ordered|date:'d-m-Y H:i'  }}</th>
                            <th scope="col" colspan="2">Замовник: {{ order.owner.username }}</th>
                            <th scope="col" colspan="1">Статуc: {{ order.order_status }}</th>
                        </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Виробник</th>
                        <th scope="col">index</th>
                        <th scope="col">Опис</th>
                        <th scope="col">Оригінал</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Кількість</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter}}</th>
                        <th scope="row">{{ item.part.producer }}</th>
                        <td>{{ item.part.index }}</td>
                        <td>{{ item.part.description }}</td>
                        <td>{{ item.part.original }}</td>
                        <td>{{ item.part.price }}</td>
                        <td scope="row">{{ item.quantity }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            Загально
                        </td>
                        <td >
                            {{order.get_cart_items_total}}
                        </td>
                        <td>
                            {{order.get_cart_items}}
                        </td>
                    </tr>
                    </tbody>
            </table>
            {% if order.order_status == 'ORD' %}
            <a href="confirm-ordr-formed-{{ order.ref_code }}" class='btn btn-success mb-3'>Підтвердити відправку</a>
            {% else %}
            {% endif %}
        </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}