{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>ZP4</title>
<div class="container">
    <div class="row">
      <div class="col-lg-2 mt-3 border">
        <h5>
           <a href="{% url 'shopping_cart:order_summary' %}">Корзина:{{order_items.all.count}}</a>
        </h5>
    </div>
        <div class="col-lg-12 mt-3">
            <form action="{% url 'parts:part_search' %}">
              <div class="form-group">
                <label for="partnumberimput">Пошук</label>
                <input type="text" class="form-control" id="partnumberimput" placeholder="Номер запчастини" name='partnumber' required>
                <small id="emailHelp" class="form-text text-muted">Введіть номер запчастини яку ви шукаєте</small>
              </div>
              <button type="submit" class="btn btn-primary">Шукати</button>
            </form>
            <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">фото</th>
                    <th scope="col">Найменування</th>
                    <th scope="col">Категорія</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Оригінал</th>
                    <th scope="col">Кросс</th>
                    <th scope="col">Доставка</th>
                    <th scope="col">Ціна</th>
                    <th scope="col">На складі</th>
                    <th scope="col">Кількість</th>
                  </tr>
                </thead>
                <tbody>
                {% for part in parts %}
                <tr>
                    <th scope="row">
                      {% if part.odd_images.count > 0 %}
                      {% for image in part.odd_images.all %}
                        {% if forloop.counter == 1 %}
                        <img  src="{{ image.image.url }}" height="68px">
                        {% else %}
                        {% endif %}
                        {% endfor %}
                      {% else %}
                      no odd_images
                      {% endif %}
                    </th>
                    <th scope="row"><a href="{{ part.id }}">{{ part.title }}</a></th>
                    <td>{{ part.category }}</td>
                    <td>{{ part.description }}</td>
                    <td>{{ part.original }}</td>
                    <td>{{ part.cross }}</td>
                    <td>{{ part.shipping }}</td>
                    <th scope="row">{{ part.price }}</th>
                    <td>{{ part.instock }} од.</td>
                    <th>
                      {% if part in order_parts %}
                      <button class="btn btn-success">В корзині</button>
                      {% else %}
                      <form action="{% url 'shopping_cart:add_to_cart' part.id %}">
                        <div class='mt-3'>
                            <input type="number" name='quantity' id='quantity' min="1" value='1' style="width: 50px;" max='{{ part.instock }}'>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-warning">В корзину</button>
                        </div>
                      </form>
                      {% endif %}
                    </th>
                    </tr>
                {% endfor %}      
                </tbody>
              </table>
        </div>
    </div>
</div>


{% endblock %}