{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>
    ZP4 - {{part.index}}
</title>
<div class="container">
    <div class="row">
        <div class="col-lg-3 border mt-3 p-2">
        {% if user.is_authenticated %}
            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-lg btn-outline-secondary">Корзина:{{my_order.items.count}}</a>
        {% else %}
            <a href = '{% url "users:login" %}' class="btn btn-lg btn-outline-secondary mt-2">Корзина:0</a>
        {% endif %} 
        </div>
        <div class="col-lg-9 border mt-3 p-2">
            {% if part.instock == 0 %}
                Немає в наявності
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Кілкість" aria-label="Кілкість" aria-describedby="button-addon2" disabled>
                    <button class="btn btn-warning" type="button" id="button-addon2" disabled>В корзину</button>
                </div>
            {% else %}
                В наявності: {{ part.instock }}
                {% if user.is_authenticated %}
                    {% if part in ordered_items %}
                        <button class="btn btn-success w-100" type="button" id="button-addon2" disabled>Додано в корзину</button>
                    {% else %}
                    <form action="{% url 'shopping_cart:add_to_cart' part.id %}">
                        <div class="input-group  mb-3">
                            <input type="number" class="form-control" placeholder="Кілкість" aria-label="Кілкість" aria-describedby="button-addon2" name='quantity' id='quantity' min="1" value='1' max='{{ part.instock }}'>
                            <button class="btn btn-warning" id="button-addon2">В корзину</button>
                        </div>
                      </form>
                    {% endif %}
                {% else %}
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="Кілкість" aria-label="Кілкість" aria-describedby="button-addon2" min='1' max='{{ part.instock }}'>
                        <a class="btn btn-warning" id="button-addon2" href = '{% url "users:login" %}'>В корзину</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-lg-12 border mt-3 p-2">
            <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">Виробник</th>
                    <th scope="col">index</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Оригінал</th>
                    <th scope="col">Ціна</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ part.producer }}</th>
                    <td><a href="{% url 'parts:partdetail' part.id %}">{{ part.index }}</a></td>
                    <td>{{ part.description }}</td>
                    <td>{{ part.original }}</td>
                    <td scope="row">{{ part.price }}</td>    
                </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}