{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>ZP4</title>
<div class="container">
    <div class="row">
      {% if user.is_authenticated %}
        <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-lg btn-outline-secondary mt-2">Корзина:{{my_order.items.count}}</a>
      {% else %}
        <a href = '{% url "users:login" %}' class="btn btn-lg btn-outline-secondary mt-2">Корзина:0</a>
      {% endif %}  
        <div class="col-lg-12 mt-3">
            <form action="{% url 'parts:part_search' %}">
              <div class="form-group">
                <label for="partnumberimput">Пошук</label>
                <input type="text" class="form-control" id="partnumberimput" placeholder="Номер запчастини" name='partnumber' required>
                <small id="emailHelp" class="form-text text-muted">Введіть номер запчастини яку ви шукаєте</small>
              </div>
              <button type="submit" class="btn btn-primary">Шукати</button>
            </form>
            <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">Виробник</th>
                    <th scope="col">index</th>
                    <th scope="col">Опис</th>
                    <th scope="col">Оригінал</th>
                    <th scope="col">В наявності шт.</th>
                    <th scope="col">Ціна</th>
                    <th scope="col">Кількість</th>
                  </tr>
                </thead>
                <tbody>
                {% for part in parts %}
                <tr>
                    <th scope="row">{{ part.producer }}</th>
                    <td><a href="{{ part.id }}">{{ part.index }}</a></td>
                    <td>{{ part.description }}</td>
                    <td>{{ part.original }}</td>
                    <td>{{ part.instock }} од.</td>
                    <td scope="row">{{ part.price }}</td>
                    <th>
                      {% if user.is_authenticated %}
                        {% if part in ordered_items %}
                          <a class="btn btn-success">В корзині</a>
                        {% else %}
                        <form action="{% url 'shopping_cart:add_to_cart' part.id %}">
                          <div class='mt-3'>
                              <input type="number" name='quantity' id='quantity' min="1" value='1' style="width: 50px;" max='{{ part.instock }}'>
                          </div>
                          <div class="mt-3">
                              <button class="btn btn-warning">В корзину</button>
                          </div>
                        </form>
                        {% endif %}
                      {% else %}
                      <a class="btn btn-warning" href = '{% url "users:login" %}'>В корзину</a>
                      {% endif %}
                      
                    </th>
                    </tr>
                {% endfor %}      
                </tbody>
              </table>
            
              <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
              
                {% if page_obj.number|add:'-4' > 1 %}
                    <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
              
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
              
                {% if page_obj.paginator.num_pagespage_obj.number|add:'4' %}
                    <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
              
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
        </div>
    </div>
</div>


{% endblock %}